<div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('friends.jpg') %>);">
      <h5 style="font-weight: bold"> Meet new friends!</h5>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('favoriteshows.jpg') %>);">
      <h5 style="font-weight: bold"> Talk about your </br> favorite shows!</h5>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('dinneralone.jpg') %>);">
      <h5 style="font-weight: bold"> No more dinners alone! </h5>
    </div>
</div>
