<!-- Just placeholder code, for now -->

<%@users.each do |user|%>
  
  <p id="user-show-medium-font"><%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-user-show-friend" %>   <%= user.first_name %> <%= user.last_name %> </p>
 
  
<% end %>
