<div class="home-container">
  <h1 class="header"> Meet movies enthusiasts <h1>
  <h5 class="header-sub"> Get to know new people and chat with them about your favorite movies! <h5>
  <% if !user_signed_in?  %>
  <%= render "components/buttonSignup"%>
  <% else %>
  <%= link_to "Choose your preference", new_preference_path, class: "btn btn-danger" %>
  <% end %>
  <%= render "components/card"%>
</div>
