<div class="home-container">
  <h1 class="header"> Meet other serires enthusiasts <h1>
  <h5 class="header-sub"> This is a subheader <h5>

  <%= render "components/buttonSignup"%>
  <%= render "components/card"%>
</div>
