<div class="home-container">
  <h1 class="header"> One last step! </h1>
  <h5 id="dashboard-sub"> <span id="name"> <strong> <%= current_user.first_name %> </strong> </span> tell us more about your favorite movies! </h5>


  <form>
    <div>
      <div class="col-auto">
        <label class="mr-sm-2" for="inlineFormCustomSelect"> Choose by <span id="name"> <strong>genre </strong> </span> </label>
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
          <option selected>Select a genre...</option>
            <% @genres.each do |genre| %>
              <option value="1"> <%= genre.name %> </option>
            <%end%>
        </select>
        <button type="submit" class="btn btn-ghost ml-0 mt-2">Submit</button>
      </div>
    </div>
  </form>


</div>

