<div class="home-container">
  <h1 class="header"> One last step! </h1>
  <h5 id="dashboard-sub"> <span id="name"> <strong> <%= current_user.first_name %> </strong> </span> tell us more about your favorite movies! </h5>

  

  <%# @videos.each do |video| %>
    <p> <%# video.title %> </p>
  <%#end%>

  <h5> </h5>
  <% @genres.each do |genre| %>
    <p> <%= genre.name %> </p>
  <%end%>

</div>
