.btn-ghost {
  color: #ffffff;
  font-size: 16px;
  background-color: #E50914 ;
  border: 1px solid #E50914;
  padding: 7px 17px;
  border-radius: 3px;
  font-weight: bold;
  transition: opacity 0.3s ease;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 80px;
  text-align: center;
}

.btn-ghost:hover {
  opacity: 1;
  color: #E50914;
  background-color: white;
}

// Sign up page in the homepage
#sign-up {
  width: 300px;
  text-align: center;
}

#btn-chose-movie{
  color: #E50914;
  font-size: 16px;
  background-color: white ;
  border: 1px solid #424242;
  padding: 7px 17px;
  font-weight: bold;
  border-radius: 3px;
  transition: opacity 0.3s ease;
  margin-bottom: 20px;
  text-align: center;
}

#btn-chose-movie:hover{
  color: white;
  background-color: #E50914;
  cursor: pointer;
  text-decoration: none;
}

.btn-visit-profile{
  color: #E50914;
  font-size: 16px;
  background-color: white ;
  border: 1px solid #424242;
  padding: 5px;
  font-weight: bold;
  border-radius: 3px;
  width: 70px;
  height: 35px;
  text-align: center;
  margin-right: 20px;
}

.btn-visit-profile:hover{
  color: white;
  background-color: #E50914;
  cursor: pointer;
  text-decoration: none;
}

#btn-go-chat{
  color: #E50914;
  font-size: 14px;
  background-color: white ;
  border: 1px solid #424242;
  padding: 2px 6px;
  font-weight: bold;
  border-radius: 5px;
  transition: opacity 0.3s ease;
  margin-bottom: 20px;
  text-align: center;
}

#btn-go-chat:hover{
  color: white;
  background-color: #E50914;
  cursor: pointer;
  text-decoration: none;
}

