// homepage header
.header {
  font-size: 50px;
  color: white;
  text-align: center;
  margin-top: 20px;
}

// homepage subheader
.header-sub {
  font-size: 24px;
  color: white;
  text-align: center;
  margin-top: 20px;
}

// Dashboard sub-header

#dashboard-sub {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

// first_name in dashboard page subheader
#name {
  color: #e50914;
  font-family: 'RocknRoll One', 'sans-serif';
}

// login form: title
.header-medium {
  color: white;
  font-size: 24px;
  margin-top: 20px;
  text-align: center;
}


// login form: email, pssw
.form-inputs {
  color: white;
}


// login form: signup & forgot your pssw links
.input {
  color: #e50914;
  margin-top: 2px;
}

.input:hover {
  color: white;
}

// HiThere name on navbar
#company-name {
  color: white;
  font-family: 'RocknRoll One', 'sans-serif';
}

#company-name-red {
  color: #e50914;
}
